:root {
  --white: #fff;
  --ligthGreen: #34ad54;
  --black: #000;
}

.navbarContainer {
  border-bottom: 1px solid #fff;
  background-image: radial-gradient(rgb(37, 68, 37), rgb(27, 59, 27));
  height: 5rem;
}

.navLink {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}

.navLink1{
  text-decoration: none;
  color: var(--black);
}

.dropdown {
  background-image: radial-gradient(rgb(37, 68, 37), rgb(27, 59, 27));
  border: none;
  outline: none;
}

.topHeader {
  height: 100vh;
  background-image: linear-gradient(hsla(87, 9%, 57%, 0.4), hsla(87, 9%, 57%, 0.4)), url('./img/Avocados.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0 0 5rem 0;
}

.headerText {
  color: #fff;
  width: 40%;
  display: block;
  float: right;
  margin-top: 8rem;
}

.headerText p {
  color: #bcba63;
  font-size: 18px;
}

.headerText h1 {
  font-size: 4.2rem;
}

.imgLogo {
  height: 5rem;
}

.content {
  background-image: url("./img/top-title.webp");
  background-repeat: no-repeat;
  background-position: top, center;
  background-position-y: 5rem;
  background-color: #fff;
  padding: 2rem 2rem;
}

.exploreButton {
  background: var(--ligthGreen);
  color: var(--white);
  padding: 10px 50px; 
  border: none;
  font-family: sans-serif;
  margin: 35px 0px 0px;
}

.header {
  text-align: center;
  padding-top: 8rem;
}

.content h1 {
  letter-spacing: 2.5px;
  font-size: 34px;
}

.content p {
  color: #98B4A0;
  font-family: 'Satisfy', cursive;
}

.inputField {
  padding: 1rem;
  outline: none;
}

.products {
  background-image: url("./img/top-title.webp");
  background-repeat: no-repeat;
  background-position: top, center;
  background-position-y: 5rem;
  background-color: #fff;
  padding: 2rem 2rem;
}

.productImg {
  width: 22rem;
}

.productImg1 {
  width: 22rem;
  height: 16.5rem;
}

.freshelaImg {
  width: 40vw;
  border-radius: 5%;
  box-shadow: 20px 20px 50px #ccc;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box {
  padding: 2rem;
}

.preBox {
  padding: 1rem;
}

.boxIcon, .preBoxIcon {
  color: #6a961f;
  z-index: 2;
}

.boxHeader {
  color: #808285;
  font-size: 20px;
}

.box h2, .preBox h2 {
  font-size: 1.2rem;
  color: #808285;
}

.title h2{
  font-size: 18px;
  padding: 1rem;
  font-family: sans-serif;
}

.title:hover {
  cursor: pointer;
}

.p1 {
  color: #808285;
  font-size: 18px;
  font-family: sans-serif;
}

.answer p {
  color: #808285;
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 3rem;
}

.green {
  color: #6a961f;
}

.grey {
  color: #808285;
}

.answer {
  height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.answer.show {
  height: 25px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.logo {
  background-color: var(--white);
  padding: 5rem 0;
  border-top: 1px solid #757575;
  font-family: sans-serif;
}

.logoOne {
  display: flex;
  justify-content: center;
}

.footer {
  background: url(./img/banner-6-3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #A0A0A0;
  padding: 5rem 0 1rem 0;
}

.footerLink1 {
  font-size: 18px;
  color: var(--white);
  padding-left: 3rem;
}

.footerLink2 {
  font-size: 18px;
  color: var(--white);
  padding-left: 1rem;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer ul li {
  padding: 16px;
}
.footer ul li a{
  color: #A0A0A0;
}